*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(imagenes/azul.jpg);

}


button{
    margin: 10px;
    position: relative;
    padding: 60px 120px;
    border: none;
    outline: none;
    /*background: #5ad30ad4;*/
    background-image: url(imagenes/negro.jpg);
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    border-radius: 20px;
}

button:hover{
    color: #1ed7d1;
}

button span{
    position: absolute;
    background: #ffffff;
    transition: 0.5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

