* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
}

.contenedor-1 {
    width: 100%;
    height: 100vh;
    /*background-color:black;*/
    color: white;
    background-position: center;
}

.cabecera {
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    overflow: hidden;
}

.logo {
    width: 20%;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navegacion {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 80px;
}

.link {
    color: black;
    padding: 70px 30px;
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    background-color: #f63c3c;
    color: #fff;
}

.banner {
    width: 100%;
    height: calc(10vh- 150px);
    display: flex;
    justify-content: start;
    align-items: center;
}

.banner_textos {
    color: black;
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.banner_textos h1 {
    font-size: 53px;
}

.banner_textos p {
    font-size: 24px;
}


/*inicio del footer*/

footer {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.redesFooter .custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datosFooter p {
    margin: 0;
    padding: 5px 16px 5px 5px;
    font-weight: 400;
    font-size: 17px;
}

.infofooter {
    color: black;
    display: flex;
    align-items: center;
}

#mod-custom103 {
    color: black;
    padding: 3px;
    position: absolute;
    margin: left;
    text-align: left;
    padding-left: 2px;
}

#conteItemsCarrusel {
    text-align: center;
    padding: 20px;
    height: 600px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    height: 100%;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


/*#tarjetaCarrusel-1{
      background-color: blueviolet;
  }

  #tarjetaCarrusel-2{
      background-color: rgb(70, 92, 238);
  }

  #tarjetaCarrusel-3{
      /background-color: rgb(43, 180, 226);
  }*/

a {
    text-decoration: none;
}

img {
    width: 85%;
    height: 95%;
}

.i {
    color: red;
}