:root{
      --green: hsl(162, 45%, 56%);
      --lead: hsl(162, 2%, 56%);
      --blue: hsl(220, 85%, 57%);
      --violet: hsl(272, 92%, 32%);
      --text-white: hsl(0, 0%, 100%);
      --text-light-gray: hsl(0, 0%, 90%);
      --body-bg-color: hsl(200, 54%, 12%);
      --glass-bg-color: hsla(0, 0%, 100, 0.05);
      --border-color: hsla(0, 0%, 100%,0.25);
      --blur: blur(10px);
      --button-hover-color: hsla(0, 0%, 0%, 0.3);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
  }
  
  body{
      background-color: var(--body-bg-color);
      color: var(--text-light-gray);
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
      overflow-x: hidden;
  }
  
  body::after,
  body::before{
      content: '';
      position: fixed;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      z-index: -1;
      filter: blur(150px);
      opacity: 0.5;
  }
  
  body::before{
      background-color: var(--blue);
      left: 0;
      bottom: 0;
      transform: translate(-50%);
  }
  
  body::after{
      background-color: var(--violet);
      right: 0;
      top: 0;
      transform: translate(50%);
  }
  
  a{
      text-decoration: none;
      font-weight: 500;
      display: inline-block;
  }
  
  .gradient-text{
      
      background: linear-gradient(to right, var(--green), var(--lead));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      text-align: left;
      
  }
  
  .form-main{
      min-height: 100vh;
      padding: 60px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .form-content{
      width: 100%;
      max-width: 450px;
      position: relative;
      z-index: 1;
  }
  .form-content .circle-3,
  .form-content .circle-2,
  .form-content .circle-1{
      position: absolute;
      background: linear-gradient(to right, var(--blue), var(--violet));
      border-radius: 50%;
      z-index: -1;
  }
  
  .form-content .circle-1{
      height: 120px;
      width: 120px;
      left: 0;
      top: 10%;
      transform: translateX(-50%);
  }
  .form-content .circle-2{
      height: 80px;
      width: 80px;
      right: 0;
      bottom: 0;
      transform: translate(20%, 20%);
  }
  
  .form-content .circle-3{
      height: 50px;
      width: 50px;
      right:10%;
      top: 10%;
  }
  
  .form-content .box{
      border-color: var(--glass-bg-color);
      border: 1px solid var(--border-color);
      padding: 40px 50px;
      border-radius: 20px;
      backdrop-filter: var(--blur);
      
  }
  
  .form-content h3{
      font-size: 28px;
      text-align: center;
      line-height: 1.2;
      color: var(--text-white);
      font-weight: 500;
  }
  
  .form-content form{
      margin: 25px 0 20px;
  }
  
  .form-content .input-box{
      margin: 25px;
  }
  
  .form-content ::placeholder{
      color: inherit;
      opacity: 1;
  }
  
  .form-content .input-control{
      display: block;
      height: 45px;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--border-color);
      color: inherit;
      font-weight: inherit;
      font-family: inherit;
      font-size: 16px;
  }
  
  .form-content .input-control:focus{
      outline: none;
  }
  .form-content .input-link{
      margin-top: 10px;
      text-align: right;
  }
  
  .form-content .btn{
      height: 45px;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      font-family: inherit;
      cursor: pointer;
      border-radius: 25px;
      user-select: none;
      background: linear-gradient(to right, var(--green), var(--lead));
      border: none;
      color: var(--text-white);
      position: relative;
      z-index: 1;
      overflow: hidden;
  }
  
  .form-content .btn::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: background-color 0.5s ease;
      z-index: -1;
  }
  
  .form-content .btn:hover::before{
      background-color: var(--button-hover-color);
  }
  
  .form-content p{
      text-align: center;
  }

  .alerta{
    text-align: center;
}